[package]
name = "streak_tracker"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.149"
chrono = "0.4.43"
clap = { version = "4.5.54", features = ["derive"] }
dirs = "6.0.0"
